:root {
  --branding-color: rgb(23, 23, 19);
  --secondary-color: rgb(249, 252, 60);
}

body {
  background-color: whitesmoke;
  
}

h1 {
  color: black;  
  font-size: 100px;
  font-weight: 100px;
  line-height: 1.5;
  font-family: "Luckiest guy";
}

h2 {
  color: black;
  font-weight: 60px;
  font-size: 40px;
  font-family: "Luckiest guy";
}

h3 {
    color: rgb(51, 97, 231);
}

h4 {
    font-family: "Luckiest guy";
    font-size: 22px;
    color: rgb(51, 97, 231);
}

p {
  font-size: 18px;
  line-height: 30px;
  text-align: justify;
  color: black;
}

.hero {
  text-align: center;
  padding: 160px;
}

.hero h2 {
  font-size: 40px;
  padding: 30px 60px;
}

.players {
  font-size: 34px;
}

.btn-branding-outline {
  line-height: 27px;
  padding: 15px 30px;
  font-size: 18px;
  border-radius: 4px;
  color: white;
  background-color: green;
  border: 1px solid;
}

.project-description {
  padding: 40px 30px;
}

.content-container {
    padding: 80px 30px;
}

.container img {
  width: auto;
  height: auto;
  padding: 40px 30px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 40px;
  }

  .hero {
    padding: 80px 20px;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }
}
